# stretch (sepsis-pics)

## common

In [24]:
import pandas as pd
from common_eicu import *

## patient result

In [2]:
df_patient_result = pd.read_csv(
    eicu_path('apachePatientResult.csv.gz'),
)
df_patient_result.head()

,apachepatientresultsid,patientunitstayid,physicianspeciality,physicianinterventioncategory,acutephysiologyscore,apachescore,apacheversion,predictedicumortality,actualicumortality,predictediculos,...,predictedhospitallos,actualhospitallos,preopmi,preopcardiaccath,ptcawithin24h,unabridgedunitlos,unabridgedhosplos,actualventdays,predventdays,unabridgedactualventdays
0,26570,141168,critical care medicine (CCM),Unknown,49,65,IV,0.026988,EXPIRED,3.038388,...,7.546453,2.4972,0,0,0,2.4972,2.4972,NaN,NaN,NaN
1,26571,141168,critical care medicine (CCM),Unknown,49,65,IVa,0.028889,EXPIRED,3.091127,...,6.628720,2.4972,0,0,0,2.4972,2.4972,NaN,NaN,NaN
2,53135,141194,critical care medicine (CCM),Unknown,57,70,IV,0.037888,ALIVE,4.620982,...,13.338449,9.2167,0,0,0,3.3423,9.2167,NaN,NaN,NaN
3,53136,141194,critical care medicine (CCM),Unknown,57,70,IVa,0.046448,ALIVE,4.167129,...,12.978228,9.2167,0,0,0,3.3423,9.2167,NaN,NaN,NaN
4,8,141203,hospitalist,I,73,90,IVa,0.291609,ALIVE,8.670299,...,16.319389,3.7493,0,0,0,1.2979,3.7493,2.0,5.738093,2.0

## diagnosis Data

In [3]:
df_sepsis = pd.read_csv(
    './sepsis_eicu.csv.gz',
)
df_sepsis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115375 entries, 0 to 115374
Data columns (total 2 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   patientunitstayid  115375 non-null  int64
 1   diagnosisstring    115375 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.8+ MB

In [5]:
df_sepsis[KEY_DIAGNOSIS_STRING].unique()

array(['cardiovascular|shock / hypotension|sepsis',
       'cardiovascular|shock / hypotension|signs and symptoms of sepsis (SIRS)',
       'infectious diseases|systemic/other infections|sepsis',
       'infectious diseases|systemic/other infections|signs and symptoms of sepsis (SIRS)',
       'cardiovascular|shock / hypotension|signs and symptoms of sepsis (SIRS)|due to infectious process with organ dysfunction',
       'cardiovascular|shock / hypotension|sepsis|sepsis with single organ dysfunction- acute renal failure',
       'cardiovascular|shock / hypotension|sepsis|severe',
       'cardiovascular|shock / hypotension|signs and symptoms of sepsis (SIRS)|due to infectious process without organ dysfunction',
       'cardiovascular|shock / hypotension|sepsis|sepsis with single organ dysfunction- acute respiratory failure',
       'cardiovascular|shock / hypotension|sepsis|sepsis with multi-organ dysfunction',
       'renal|disorder of kidney|acute renal failure|due to sepsis',
       'cardiovascular|shock / hypotension|sepsis|sepsis with single organ dysfunction-acute hepatic failure',
       'surgery|infections|signs and symptoms of sepsis (SIRS)|due to infectious process with organ dysfunction',
       'hematology|coagulation disorders|DIC syndrome|associated with sepsis/septic shock',
       'surgery|infections|signs and symptoms of sepsis (SIRS)',
       'infectious diseases|systemic/other infections|signs and symptoms of sepsis (SIRS)|due to infectious process without organ dysfunction',
       'infectious diseases|systemic/other infections|sepsis|severe',
       'infectious diseases|systemic/other infections|sepsis|sepsis with single organ dysfunction- acute respiratory failure',
       'surgery|infections|sepsis',
       'cardiovascular|shock / hypotension|sepsis|sepsis with single organ dysfunction- metabolic encephalopathy',
       'infectious diseases|systemic/other infections|signs and symptoms of sepsis (SIRS)|due to non-infectious process with organ dysfunction',
       'infectious diseases|systemic/other infections|signs and symptoms of sepsis (SIRS)|due to infectious process with organ dysfunction',
       'infectious diseases|systemic/other infections|signs and symptoms of sepsis (SIRS)|due to non-infectious process without organ dysfunction',
       'infectious diseases|systemic/other infections|sepsis|sepsis with single organ dysfunction- acute renal failure',
       'infectious diseases|systemic/other infections|sepsis|sepsis with multi-organ dysfunction syndrome',
       'infectious diseases|systemic/other infections|sepsis|sepsis with single organ dysfunction- circulatory system failure',
       'cardiovascular|shock / hypotension|signs and symptoms of sepsis (SIRS)|due to non-infectious process without organ dysfunction',
       'cardiovascular|shock / hypotension|sepsis|sepsis with single organ dysfunction- congestive heart failure',
       'surgery|infections|sepsis|sepsis with multi-organ dysfunction syndrome',
       'cardiovascular|shock / hypotension|sepsis|sepsis with single organ dysfunction- circulatory system failure',
       'infectious diseases|systemic/other infections|sepsis|sepsis with single organ dysfunction- metabolic encephalopathy',
       'surgery|infections|sepsis|sepsis with single organ dysfunction- metabolic encephalopathy',
       'renal|electrolyte imbalance|hypocalcemia|due to sepsis',
       'cardiovascular|shock / hypotension|signs and symptoms of sepsis (SIRS)|due to non-infectious process with organ dysfunction',
       'infectious diseases|systemic/other infections|sepsis|sepsis with single organ dysfunction- congestive heart failure',
       'cardiovascular|shock / hypotension|sepsis|sepsis with single organ dysfunction- critical care myopathy',
       'surgery|infections|sepsis|sepsis with single organ dysfunction- circulatory system failure',
       'pulmonary|respiratory failure|ARDS|non-pulmonary etiology|sepsis',
       'surgery|infections|signs and symptoms of sepsis (SIRS)|due to non-infectious process without organ dysfunction',
       'surgery|infections|sepsis|sepsis with single organ dysfunction- critical care myopathy',
       'surgery|renal issues|acute renal failure|due to sepsis',
       'infectious diseases|systemic/other infections|sepsis|sepsis with single organ dysfunction-acute hepatic failure',
       'cardiovascular|shock / hypotension|sepsis|sepsis with single organ dysfunction- critical care neuropathy',
       'cardiovascular|vascular disorders|peripheral vascular ischemia|due to sepsis',
       'surgery|infections|sepsis|sepsis with single organ dysfunction- acute respiratory failure',
       'surgery|infections|signs and symptoms of sepsis (SIRS)|due to infectious process without organ dysfunction',
       'surgery|infections|sepsis|severe',
       'cardiovascular|vascular disorders|arterial thromboembolism|due to sepsis',
       'pulmonary|respiratory failure|acute lung injury|non-pulmonary etiology|sepsis',
       'surgery|infections|sepsis|sepsis with single organ dysfunction- acute renal failure',
       'endocrine|fluids and electrolytes|hypocalcemia|due to sepsis',
       'surgery|infections|signs and symptoms of sepsis (SIRS)|due to non-infectious process with organ dysfunction',
       'surgery|infections|sepsis|sepsis with single organ dysfunction- congestive heart failure'],
      dtype=object)

## treatment data

In [5]:
df_treatment = pd.read_csv(
    TREATMENT_PATH,
    nrows=5000,
)
df_treatment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   treatmentid          5000 non-null   int64
 1   patientunitstayid    5000 non-null   int64
 2   treatmentoffset      5000 non-null   int64
 3   treatmentstring      5000 non-null   object
 4   activeupondischarge  5000 non-null   bool
dtypes: bool(1), int64(3), object(1)
memory usage: 161.3+ KB

In [6]:
df_treatment[
    (df_treatment['patientunitstayid'] == 242290)
    & (
        df_treatment['treatmentstring'].map(
            lambda s: 'vasopressor' in s
        )
    )
]

,treatmentid,patientunitstayid,treatmentoffset,treatmentstring,activeupondischarge
245,8645242,242290,162,cardiovascular|shock|vasopressors|norepinephri...,False
253,10019133,242290,165,cardiovascular|shock|vasopressors|norepinephri...,True

## exam data

In [36]:
df_exam = pd.read_csv(
    './exam_eicu_filtered.csv.gz',
    # EXAM_PATH,
    # nrows=5000,
)
df_exam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615846 entries, 0 to 615845
Data columns (total 4 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   patientunitstayid   615846 non-null  int64
 1   physicalexamoffset  615846 non-null  int64
 2   physicalexamvalue   615846 non-null  object
 3   physicalexamtext    615846 non-null  float64
dtypes: float64(1), int64(2), object(1)
memory usage: 18.8+ MB

In [37]:
# df = df_exam[df_exam['physicalexamvalue'] == 'HR Current']
# df = df[['patientunitstayid', 'physicalexamoffset']]
# df.groupby('patientunitstayid').count()['physicalexamoffset'].unique()
df_exam[
    (
        df_exam['physicalexamvalue'].map(
            lambda s: 'bp' in s.lower()
        )
    )
    # & (df_exam['patientunitstayid'] == 208303)
].head(10)

,patientunitstayid,physicalexamoffset,physicalexamvalue,physicalexamtext
1,149700,0,BP (systolic) Current,133.0
3,208303,0,BP (systolic) Current,133.0
4,167766,0,BP (systolic) Current,78.0
5,146410,0,BP (systolic) Current,167.0
7,223813,0,BP (systolic) Current,158.0
9,163398,0,BP (systolic) Current,94.0
10,192481,0,BP (systolic) Current,137.0
12,217391,0,BP (systolic) Current,125.0
13,147684,0,BP (systolic) Current,174.0
15,232462,0,BP (systolic) Current,97.0

## lab data

In [11]:
df_lab = pd.read_csv(
    LAB_PATH,
    # nrows=20000,
)

In [15]:
# df_lab[df_lab['patientunitstayid'] == 242505][['patientunitstayid','labname']] \
#     .groupby('labname').count()
# df_lab[
#     (df_lab['patientunitstayid'] == 242505)
#     & (df_lab['labname'].isin(['albumin', '-lymphs']))
# ].sort_values(by='labresultoffset')
# df_lab[
#     df_lab['labname'].map(
#         lambda s: 'wbc' in s.lower()
#     )
# ]['labname'].unique()
df_lab[df_lab['labname'] == 'WBC x 1000'].head()

,labid,patientunitstayid,labresultoffset,labtypeid,labname,labresult,labresulttext,labmeasurenamesystem,labmeasurenameinterface,labresultrevisedoffset
52,54358175,141168,2026,3,WBC x 1000,19.8,19.8,K/mcL,K/mcL,2148
118,56155662,141168,516,3,WBC x 1000,9.8,9.8,K/mcL,K/mcL,524
135,53275575,141168,1133,3,WBC x 1000,14.7,14.7,K/mcL,K/mcL,1196
148,53200536,141178,-280,3,WBC x 1000,7.6,7.6,K/mcL,K/mcL,-216
173,55330219,141179,1487,3,WBC x 1000,8.1,8.1,K/mcL,K/mcL,1546

## data output (raw)

In [6]:
df_raw_na = pd.read_csv(
    './data_eicu_compact_raw_na.csv.gz',
    index_col='patientunitstayid',
)
df_raw_na.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 167643 entries, 141168 to 3353263
Data columns (total 20 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   age                167609 non-null  float64
 1   urine              167556 non-null  float64
 2   wbc                167556 non-null  float64
 3   meanbp             167556 non-null  float64
 4   actualhospitallos  148519 non-null  float64
 5   vasopressor        167643 non-null  int64
 6   hr                 126207 non-null  float64
 7   creatinine         162908 non-null  float64
 8   platelet           160718 non-null  float64
 9   inr                111483 non-null  float64
 10  pt                 108660 non-null  float64
 11  ptt                82703 non-null   float64
 12  lactate            66618 non-null   float64
 13  rdw                152070 non-null  float64
 14  bilirubin          119313 non-null  float64
 15  bicarbonate        153378 non-null  float64
 16  crp                6735 non-null    float64
 17  lymph              128882 non-null  float64
 18  albumin            126918 non-null  float64
 19  prealbumin         9799 non-null    float64
dtypes: float64(19), int64(1)
memory usage: 26.9 MB

In [20]:
df_raw_na.head()

,age,urine,wbc,meanbp,actualhospitallos,vasopressor,hr,creatinine,platelet,inr,pt,ptt,lactate,rdw,bilirubin,bicarbonate,crp,lymph,albumin,prealbumin
patientunitstayid,,,,,,,,,,,,,,,,,,,,
141168,70.0,-1.0,14.7,62.0,2.4972,0,NaN,2.400000,203.0,2.86,30.62,32.50,12.2,18.066667,3.966667,22.000000,NaN,11.666667,3.133333,NaN
141178,52.0,-1.0,-1.0,-1.0,NaN,0,NaN,0.700000,273.0,NaN,NaN,NaN,NaN,11.900000,0.400000,25.000000,NaN,45.000000,4.000000,NaN
141179,52.0,NaN,NaN,NaN,NaN,0,NaN,0.700000,219.0,NaN,NaN,NaN,NaN,11.900000,NaN,24.000000,NaN,NaN,NaN,NaN
141194,68.0,-1.0,14.1,40.0,9.2167,0,112.0,2.108571,190.5,1.10,12.10,32.25,1.5,16.240000,0.400000,21.071429,NaN,17.000000,2.650000,NaN
141196,71.0,NaN,NaN,NaN,NaN,0,NaN,0.840000,497.0,NaN,NaN,NaN,0.8,13.633333,0.300000,31.000000,NaN,5.666667,2.500000,NaN

In [7]:
df_raw_na[df_raw_na['actualhospitallos'] <= 1]

,age,urine,wbc,meanbp,actualhospitallos,vasopressor,hr,creatinine,platelet,inr,pt,ptt,lactate,rdw,bilirubin,bicarbonate,crp,lymph,albumin,prealbumin
patientunitstayid,,,,,,,,,,,,,,,,,,,,
141208,25.0,-1.0000,-1.0,68.0,0.4215,0,NaN,0.800000,440.0,NaN,NaN,NaN,NaN,12.900,0.700000,27.0,NaN,24.000000,4.7,NaN
141314,45.0,-1.0000,1.9,40.0,0.7535,0,NaN,1.806667,172.5,1.5,15.7,51.0,21.566667,16.075,0.733333,22.0,NaN,29.666667,2.5,NaN
141786,75.0,-1.0000,7.0,136.0,0.8063,0,NaN,1.810000,225.0,1.1,10.6,28.0,NaN,14.050,0.300000,30.0,NaN,27.000000,3.1,NaN
141939,56.0,-1.0000,-1.0,124.0,0.4410,0,68.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141970,18.0,-1.0000,4.6,51.0,0.6375,0,58.0,1.050000,341.5,NaN,NaN,NaN,NaN,13.150,0.450000,25.5,NaN,42.000000,3.7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3352747,30.0,4365.1872,-1.0,67.0,0.9278,0,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3352800,41.0,4266.6048,6.5,139.0,0.5813,0,106.0,1.950000,210.0,NaN,NaN,NaN,NaN,16.200,NaN,23.0,NaN,NaN,NaN,NaN
3353038,27.0,-1.0000,7.5,115.0,0.9069,0,NaN,0.660000,320.5,1.1,11.6,32.0,0.800000,14.450,0.450000,22.0,NaN,28.500000,4.3,NaN
3353067,63.0,2952.8928,7.7,109.0,0.6132,0,93.0,0.740000,203.0,NaN,NaN,NaN,1.000000,13.400,1.600000,27.0,NaN,NaN,3.9,NaN
3353070,66.0,-1.0000,-1.0,55.0,0.2514,0,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## data output (sepsis)

In [21]:
df_sepsis_na = pd.read_csv(
    './data_eicu_compact_sepsis_na.csv',
    index_col='patientunitstayid',
)
df_sepsis_na.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22009 entries, 141227 to 3353251
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                22009 non-null  float64
 1   urine              22008 non-null  float64
 2   wbc                22008 non-null  float64
 3   meanbp             22008 non-null  float64
 4   actualhospitallos  19470 non-null  float64
 5   vasopressor        22009 non-null  int64
 6   hr                 18499 non-null  float64
 7   creatinine         21753 non-null  float64
 8   platelet           21657 non-null  float64
 9   inr                16182 non-null  float64
 10  pt                 15821 non-null  float64
 11  ptt                11861 non-null  float64
 12  lactate            17464 non-null  float64
 13  rdw                20286 non-null  float64
 14  bilirubin          19252 non-null  float64
 15  bicarbonate        20339 non-null  float64
 16  crp                1577 non-null   float64
 17  lymph              18384 non-null  float64
 18  albumin            20090 non-null  float64
 19  prealbumin         2290 non-null   float64
dtypes: float64(19), int64(1)
memory usage: 3.5 MB

In [11]:
len(
    df_sepsis_na.dropna(
        subset=list(
            set(df_sepsis_na.columns) - set(['crp', 'prealbumin'])  # 5151
            # set(df_sepsis_na.columns) - set(['crp'])  # 817
            # set(df_sepsis_na.columns) - set(['prealbumin'])  # 403
        )
    )
)

5151

## output data (pics checked)

In [2]:
df_pics = pd.read_csv('./data_eicu_compact_pics.csv')
df_pics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2193 entries, 0 to 2192
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patientunitstayid  2193 non-null   int64
 1   age                2193 non-null   float64
 2   urine              2193 non-null   float64
 3   wbc                2193 non-null   float64
 4   meanbp             2193 non-null   float64
 5   vasopressor        2193 non-null   int64
 6   hr                 2193 non-null   float64
 7   creatinine         2193 non-null   float64
 8   platelet           2193 non-null   float64
 9   inr                2193 non-null   float64
 10  pt                 2193 non-null   float64
 11  ptt                2193 non-null   float64
 12  lactate            2193 non-null   float64
 13  rdw                2193 non-null   float64
 14  bilirubin          2193 non-null   float64
 15  bicarbonate        2193 non-null   float64
 16  pics               2193 non-null   bool
dtypes: bool(1), float64(14), int64(2)
memory usage: 276.4 KB

In [3]:
n_sepsis = len(df_pics)
pics_mask = df_pics['pics'].map(bool)
n_pics = len(df_pics[pics_mask])
pct = n_pics / n_sepsis
print(f'PICS: {pct:.2%}')

PICS: 0.68%